@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 style="margin-bottom: 20px">Working with Pictures in Excel</h2>
    <div>
        <button style="width: 200px; margin-bottom: 20px; height: 40px;display:block;font-size:18px;"
                onclick="location.href='@Url.Action("AddPicture", "Home")'">
            Add Picture
        </button>
        <button style="width: 200px; margin-bottom: 20px; height: 40px;display:block;font-size: 18px;"
                onclick="location.href='@Url.Action("ModifyPicture", "Home")'">
            Modify Picture
        </button>
        <button style="width: 200px; margin-bottom: 20px; height: 40px;display:block;font-size: 18px;"
                onclick="location.href='@Url.Action("RemovePicture", "Home")'">
            Remove Picture
        </button>
    </div>
</div>