@{
    ViewData["Title"] = "Home Page";
}

@{
    Html.BeginForm("TemplateMarker_with_Images", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Create Document" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}
