################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Read and Edit Excel/Read and Edit Excel/NET Standard/Read and Edit Excel/.vs
/Read and Edit Excel/Read and Edit Excel/NET Standard/Read and Edit Excel/Read and Edit Excel/bin/Debug/net7.0
