@page "/Excel"
@using Syncfusion.XlsIO;
@using Syncfusion.Drawing;
@using System.IO;
@inject Microsoft.JSInterop.IJSRuntime JS
@inject HttpClient client

<h2>Syncfusion Excel library (Essential XlsIO)</h2>
<p>Syncfusion Excel library (Essential XlsIO)  is a Blazor Excel library used to create, read, edit, and convert Excel files in your applications without Microsoft Office dependencies.</p>
<button class="btn btn-primary" @onclick="@EditExcel">Edit Excel</button>

@code {
    /// <summary>
    /// Edit an Excel document
    /// </summary>
    async void EditExcel()
    {
        //Create an instance of ExcelEngine
        using (ExcelEngine excelEngine = new ExcelEngine())
        {
            //Instantiate the Excel application object
            IApplication application = excelEngine.Excel;

            //Set the default application version
            application.DefaultVersion = ExcelVersion.Xlsx;

            //Load the existing Excel workbook into IWorkbook
            Stream inputStream = await client.GetStreamAsync("sample-data/InputTemplate.xlsx");
            IWorkbook workbook = application.Workbooks.Open(inputStream);

            //Get the first worksheet in the workbook into IWorksheet
            IWorksheet worksheet = workbook.Worksheets[0];

            //Assign some text in a cell
            worksheet.Range["A3"].Text = "Hello World";

            //Access a cell value from Excel
            var value = worksheet.Range["A1"].Value;

            //Save the document as a stream and retrun the stream.
            using (MemoryStream stream = new MemoryStream())
            {
                //Save the created Excel document to MemoryStream
                workbook.SaveAs(stream);

                //Download the excel file
                await JS.SaveAs("Output.xlsx", stream.ToArray());
            }
        }
    }
}
