@{
    Html.BeginForm("LoadingandSaving", "Home", FormMethod.Get);
    {
        <div>
            <br>
            <input type="submit" value="Loading and Saving Document" style="width:230px;height:27px" />
        </div>
    }
    Html.EndForm();
}