@{
    Html.BeginForm("EditDocument", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Download Document" style="width:170px;height:27px" />
        </div>
    }
    Html.EndForm();
}