@{
    Html.BeginForm("ConvertExceltoPDF", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Convert ExceltoPDF" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}