@{
    Html.BeginForm("CreateExcelDocument", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Create Excel document" style="width:200px;height:27px" />
        </div>
    }
    Html.EndForm();
}