<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="19.4.0.53" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="19.4.0.53" targetFramework="net46" />
  <package id="Syncfusion.XlsIO.Wpf" version="19.4.0.53" targetFramework="net46" />
</packages>