@page "/Excel"
@using System.IO;
@using Edit_Excel;
@inject Edit_Excel.Data.EditExcel service
@inject Microsoft.JSInterop.IJSRuntime JS

<h2>Syncfusion Excel library (Essential XlsIO)</h2>
<p>Syncfusion Excel library (Essential XlsIO)  is a Blazor Excel library used to create, read, edit, and convert Excel files in your applications without Microsoft Office dependencies.</p>
<button class="btn btn-primary" @onclick="@EditExcel">Excel Excel</button>

@code {
    MemoryStream excelStream;

    /// <summary>
    /// Create and download the Excel document
    /// </summary>
    protected async void EditExcel()
    {
        excelStream = service.EditDocument();
        await JS.SaveAs("EditExcel.xlsx", excelStream.ToArray());
    }
}
